{% extends 'base.html' %}

{% block title %}Quiz{% endblock %}
{% block style_content %}

{% endblock %}
{% block left_content %}

<div class="container"> 

    <form action="/forgot_password" method="get">
        <label for="username">Enter Username</label>
        <input type="text" name="username" id="username">

        <label for="password">Enter Password</label>
        <input type="text" name="password" id="password">

        <div>
            <button type="button">Back</button>
            <button type="submit">Next</button>
        </div>

    </form>
</div>

    
{% endblock %}

{% block middle_content %}
    


{% endblock %}