{% extends 'base.html' %}

{% block title %}Quiz{% endblock %}
{% block style_content %}

{% endblock %}
{% block left_content %}
<!-- 
<div class="container"></div> -->
    
{% endblock %}

{% block middle_content %}
    <!-- Middle content -->

    <div class="container">
        <h2>Welcome to {{ user }}, Signup Portal ... </h2>
        <form action="/signup_submit" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="hidden" name="user" value="{{ user }}">
            <button type="submit">Signup</button>
        </form>
        
        <form action="/login" method="get">
            <p>Already have an account?</p>
            <input type="hidden" name="user" value="{{ user }}">
            <button type="submit">Log In</button>
        </form>
    </div>
    
    
    {% endblock %}