{% extends 'base.html' %}

{% block title %}Quiz{% endblock %}
{% block style_content %}{% endblock %}
{% block left_content %}
    <div class="container" style="height: 500px; width: 600px;">

        <h2> Welcome, {{ username }} </h2>
        <p>
            The button give below will direct you to a test of 10 Questions.
            10 is not my favourite number, still, I wish you to score 10 out of 10 marks. 
            Click on submit button before 10 minutes, else Submit monster will do it.
        </p>
        <form action="/start-quiz" method="POST">
            <input type="hidden" name="username" value="{{username}}">
            <button type="submit" class="button" name="test" value="244">General</button>
            <button type="submit" class="button" name="test" value="355">DSA</button>
            <button type="submit" class="button" name="test" value="466">Aptitude</buttn>
            <button type="submit" class="button" name="test" value="577">Computer Network</button>
        </form>
        
    </div>
    
{% endblock %}

{% block middle_content %}
    <!-- Middle content will be replaced with quiz questions -->
{% endblock %}
