{% extends 'base.html' %}

{% block title %}Quiz{% endblock %}
{% block style_content %}



{% endblock %}
{% block left_content %}

{% endblock %}

{% block middle_content %}
<div class="container">

  <h2> Welcome, {{ username }} </h2>
  <p>
    The button give below will direct you to a test of 10 Questions.
    10 is not my favourite number, still, I wish you to score 10 out of 10 marks.
    Click on submit button before 10 minutes, else Submit monster will do it.
  </p>

  <div class="test-card-container">
    {% for row in data %}
    <form action="/start-quiz" method="get">
      <div class="test-info-card">
        <p>Test No .: {{row[2]}}</p>
        <input type="hidden" name="test_duration" value="{{row[3]}}" readonly>
        <p>Test Duration .: {{row[3]}} Seconds</p>
        <p>Total Marks .: {{row[4]}}</p>
        <p>Total Questions .: {{row[5]}}</p>
        <button type="submit" class="button" name="test_id" value="{{row[0]}}">{{row[1]}}</button>
      </div>
    </form>

    {% endfor %}
  </div>


</div>
{% endblock %}