{% extends 'base.html' %}

{% block title %}Quiz{% endblock %}
{% block style_content %}

{% endblock %}
{% block left_content %}

{% endblock %}

{% block middle_content %}
<!-- Middle content -->
<div class="container">
        <p> Welcome, {{username}} </p>
        <form action="/view_profile/{{ username }}">
            <button type="submit">View Profile</button>
        </form>

        <!-- Route to see all Users -->
        <form action="/users_list"> 
            <button type="submit">View all Users(add route) </button>
        </form>
        
        
        <form action="/users_test_data"> 
            <button type="submit">View Users Test Data</button>
        </form>

        <form action="/view_subject">
            <button type="submit">View Subject Data</button>
        </form>

        <!-- Route to add questions -->
        <form action=""> 
            <button type="submit">Add Questions (add route) </button>
        </form>


    </div>
    

<!-- <p>this is main.html file </p> -->
{% endblock %}
