<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='parent.css') }}"
    />

    {% block style_content %} {% endblock %}
  </head>
  <body>
    <header class="header">

      <p><a href="{{url_for('start_here.html')}}">Home</a></p>
      <p>Welcome to my Quiz Website</p>
      
      <div class="dp">
        <img src="" alt="Your Profile Picture">
      </div>
      

    </header>
    
    <section id="title">
      {% block left_content %}{% endblock %}
    </section>

    <section id="main">
      {% block middle_content %}{% endblock %}
   
    </section>

    <footer class="footer">

      <p>I'm Footer</p>
      <p>thanks for visiting our website</p>
    </footer>
    </script>
  </body>
</html>