{% extends 'base.html' %}

{% block title %}Quiz{% endblock %}
{% block style_content %}

{% endblock %}
{% block left_content %}

<div class="container"> hello, {{username}}</div>

{% endblock %}

{% block middle_content %}
    <!-- Middle content -->

    <div class="container">
        <h2>User Main Page</h2>
        
        <!-- Form for viewing profile -->
        <form action="/view_profile/{{ username }}" method="GET">
            <!-- <input type="hidden" name="user_type" value="student"> -->
            <button type="submit">View Profile</button>
        </form>
        
        <!-- Form for going to test section -->
        <form action="/go_to_test_section" method="GET">
            <!-- <input type="hidden" name="username" value="{{ username }}"> -->
            <button type="submit">Go to Test Section</button>
        </form>
        
        <!-- Form for viewing previous test history -->
        <form action="/view_previous_tests" method="GET">
            <!-- <input type="hidden" name="username" value="{{ username }}"> -->
            <button type="submit">View Previous Test History</button>
        </form>
    </div>
    
{% endblock %}
